@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

@font-face {
  font-family: 'dotsfont';
  src: url('fonts/dotsfont.eot');
  src: url('fonts/dotsfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/dotsfont.woff') format('woff'),
       url('fonts/dotsfont.ttf') format('truetype'),
       url('fonts/dotsfont.svg#dotsfontregular') format('svg');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;

  height: 100%;

  background: #ddd6f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ddd6f3 , #faaca8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ddd6f3 , #faaca8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  display: flex;
  flex-flow: column wrap;

  min-height: 100%;

  align-items: center;
  align-content: center;
  justify-content: center;

  header {
    h1 {
      color: white;
    }

    .tooltip-help {
      font-size: 0.6rem;
      color: #0000FF;
      text-decoration: underline;
    }
  }

  #app {
    width: 80%;
    color: #333;

    .interface {
      margin: 2rem 0 1.25rem;
    }

    form input {
      font-family: 'dotsfont';
      color: #333;

      font-size: 1rem;
      line-height: 2.5rem;
      letter-spacing: .125rem;
      text-align: center;

      background: transparent;
      outline: 0;
      border: 0;
      border-bottom: 1px solid #fff;
    }

    .banner {
      padding: 10px;
      min-height: 24px;

      font-size: 18px;
    }

    .accuracy-display {
      min-height: 58px;

      display: flex;
      flex-flow: row nowrap;
      align-content: center;
      justify-content: space-around;

      .box {
        height: 20px;
        width: 20px;

        border: 1px solid #666;

        transition: background-color 0.25s;

        &-initial-neutral {
          background-color: #444;
        }

        &-success {
          background-color: #22FFBB;
        }

        &-fail {
          background-color: #FF5888;
          animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
          transform: translate3d(0, 0, 0);
          animation-iteration-count: 1;
          transform: scale(1);
        }
      }
    }

    .history-display {
      min-height: 200px;
      max-height: 200px;
      overflow: hidden;

      .accuracy-display .box {
        // cancel animations declared previously
        animation: initial;
      }
    }
  }

  footer {
    width: 100%;
    margin-top: 1.8rem;

    align-self: flex-end;
    align-content: center;
    justify-content: center;

    p {
      font-size: 0.75rem;
    }
  }

  // FAQ section
  &.faq {
    display: flex;

    & h1 {
      margin: 0;
    }

    & nav {
      display: flex;
      justify-content: space-between;

      & ul {
        display: flex;
        list-style-type: none;

        & li {
          padding: 0.75rem 1rem 1.5rem;
          font-size: 0.75rem;
        }
      }
    }

    article {
      margin: 1.5rem 0;
      text-align: left;

      h2 {
        text-align: center;
        margin-bottom: 1rem;
        text-decoration: underline;
      }

      h3 {
        padding-bottom: 0.75rem;
        font-size: 1rem;
        font-weight: 700;

        &:not(first-child) {
          padding: 0.25rem 0;
        }
      }

      p {
        width: 50%;
        margin: 0 auto;
      }

      ul {
        list-style-type: none;
        margin-bottom: 0.75rem;
      }
    }

  }
}

/* used during keypress animation neutral -> fail */
@-webkit-keyframes grow {

  25%, 75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

/* keypress animation, fail or success -> neutral */
@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
