html, body {
    min-height: 100%;
    /* fallback for old browsers */
    background: #EECDA3;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, #EECDA3 , #EF629F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #EECDA3 , #EF629F);
}